
.navbar-satu {
  background-color: #ffffff;
  border-bottom: 1px solid #e2e2e2;
  position: sticky;
  top: 0;
  z-index: 50;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.nav-satu {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo-satu img {
  height: 60px;
  /* background: red; */
  width: auto;
  padding-right: 3rem;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  color: #333;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 3rem;
}

.nav-item {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.nav-item:hover {
  color: #d70000;
}

.nav-item.active {
  color: #d70000;
}

.nav-item.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 2px;
  background: #d70000;
}

.login-button {
  background-color: #d70000;
  color: #fff;
  padding: 0.6rem 3rem;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
  background-color: #ff4848;
}

@media (max-width: 768px) {
  .nav-satu {
    padding: 1rem 2rem;
  }

  .nav-logo-satu img {
    height: 40px;
    /* background: red; */
    width: auto;
    padding-right: 3rem;
  }
  
  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    border-top: 1px solid #eee;
  }

  .nav-links.open {
    display: flex;
  }


  .nav-links ul {
    flex-direction: column;
    gap: 1rem;
    padding: 10px 0;
  }

}
